#canvas1 {
    
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

/*The controls of the project defined*/
.controls{
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/*control panels styled*/
.controls, select, option {
    font-size: 25px;
}